:root {
  --green: rgb(0, 128, 0);
  --orange: rgb(200, 132, 7);
  --black: #1e1e1f;
  --white: rgb(255, 255, 255);
  --light-color: #666;
  --box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
  --border: 0.2rem solid rgba(0, 0, 0, 1);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --outline: 0.1rem solid rgba(0, 0, 0, 1);
}

.service-info {
  background-color: #eee;
}

.service-info .service-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  /* padding-top: 10rem; */
}

.service-info .service-content .img {
  flex: 1 1 45rem;
}

.service-info .service-content .img img {
  width: 100%;
}

.service-info .service-content .content {
  display: flex;
  flex-direction: column;
}

.service-info .service-content .content h3 {
  font-size: 5.9rem;
  color: var(--orange);
  line-height: 1;
  text-shadow: var(--text-shadow);
  margin-bottom: 10px;
}

.service-info .service-content .content p {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
  max-width: 100%;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 2fr));
  gap: 2rem;
}

.services .box-container .box {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2.5rem;
  flex-direction: column; /* Menetapkan arah tata letak menjadi kolom */
  align-items: center; /* Mengatur konten agar sejajar di tengah secara vertikal */
  text-align: center; /* Untuk mengatur teks menjadi sejajar di tengah */
}

.services .box-container .box:hover {
  box-shadow: 10px 10px 20px grey;
}

.services .box-container .box i {
  color: var(--orange);
  font-size: 5rem;
  display: inline-block; /* Membuat elemen ikon menjadi blok inline */
  margin: 0 5px; /* Beri jarak antara ikon */
}

.services .box-container .box h3 {
  color: var(--black);
  font-size: 3.5rem;
  padding: 1rem 0;
  text-align: center;
  margin-top: 0.5rem;
}

.services .box-container .box p {
  color: var(--light-color);
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.services .box-container .box a {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--orange);
  padding-top: 1rem;
  line-height: 1.8;
}

.services .box-container .box .btn:hover {
  color: white;
}

@media (max-width: 767.98px) {
  .services .box-container {
    grid-template-columns: 1fr; /* Mengatur kolom menjadi satu kolom pada perangkat mobile */
    gap: 1rem; /* Mengurangi jarak antar kotak pada perangkat mobile */
    margin-bottom: 1; /* Menghapus margin bawah pada perangkat mobile */
  }

  .services .box-container .box {
    padding: 1.5rem; /* Mengurangi padding pada perangkat mobile */
  }
}
